@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Kumbh Sans", serif;
  --color-violet: #5964e0;
  --color-light-violet: #939bf4;
  --color-very-dark-blue: #19202d;
  --color-midnight: #121721;
  --color-white: #ffffff;
  --color-light-grey: #f4f6f8;
  --color-grey: #9daec2;
  --color-dark-grey: #6e8098;
  --breakpoint-*: initial;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1440px;
}

html,
body {
  @apply font-sans;
  background: #f4f6f8;
  font-size: 62.5%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

* {
  box-sizing: border-box;
}
.dark {
  background: green;
}

h1 {
  font-size: 2.8rem;
  line-height: 3.4rem;
  font-weight: bold;
}

h2 {
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: bold;
}

h4 {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: bold;
}

p,
li,
a,
small,
input,
button,
label {
  font-size: 1.6rem;
  line-height: 2.6rem;
}
